/* -------------
    SHORTCUTS
-------------- */
:root {
    --mgwrpcMain1: #8C52FF; 
    --mgwrpcMain2: #FF914D;
    --black1: #000;
    --black2: #151515;
    --black3: #303030;
    --gray1: #222;
    --gray2: #333;
    --gray3: #444;
    --white1: #ffffff;
    --white2: #F2EFEB;
    --white3: #dddddd;
    --paracolor: #5e6c79;
}

 

/* -------------
      FAQS
-------------- */
.heading {
	padding-top: 110px;
    font-size: 3em;
    color: var(--white1);
	text-align: center;
	max-width: 700px;
	margin: auto auto 20px;
    margin-top: -100px;
    cursor: default;
}

.sentence1 {
	text-align: center;
    color: var(--paracolor);
    font-size: 1.1rem;
    line-height: 1.5em;
	max-width: 700px;
	margin: auto auto 20px;
    cursor: default;
}

.faqs {
    width: 100%;
	height: 1%;
	background-color: var(--black1);
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 225px;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin-top: -50px;
    padding-bottom: 5px;
}

.list-items {
    background-color: var(--black2);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.3rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.list-link {
    font-size: 20px;
    color: var(--white1);
    text-decoration: none;
    background-color: var(--black2);
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;
}

.list-link i {
    color: var(--white1);
    padding: .5rem;
	margin-left: 20px;
}

.list-link .ion-md-remove {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: var(--black3);
    transition: max-height 650ms;
	margin-top: 10px;
    cursor: default;
}

.answer:before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 95%;
    background-color: var(--mgwrpcMain2);
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
	border-radius: 5%
}

.answer p{
    font-size: 18px;
    color: var(--mgwrpcMain2);
    padding: 2rem;
}

.list-items:target  .answer {
    max-height: 20rem;
}

.list-items:target .list-link .ion-md-add {
    display: none;
}

.list-items:target .list-link .ion-md-remove {
    display: block;
}

/* -------------
   BREAKPOINTS
-------------- */
@media(max-width: 1650px) {
	.container {
         margin: -120px 20px -80px 20px;
    }
	
    .list-items {
        padding: 1.5rem;
    }
}

@media(max-width: 980px) {
    .container {
         margin: -120px 20px -80px 20px;
    }
}

@media (max-width: 610px) {
    .container {
        margin: -120px 20px -80px 20px;
    }

    .list-items {
        padding: 1rem;
    }
}



/* -------------
   CONTACT US
------------- */  
.contactus {
	width: 100%;
	height: 250px;
	background: var(--black2);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contactus p {
	color: var(--white1);
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
    cursor: default;
}

.contactus .btn-fdbck {
	background-color: var(--black1);
	color: var(--white1);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: 0.3s;
}

.contactus .btn-fdbck:hover {
	background-color: transparent;
	border: 2px solid var(--black3);
	cursor: pointer;
}

/* -------------
   BREAKPOINTS
-------------- */
@media (max-width: 610px) {
    .contactus p {
        font-size: 26px;
        text-align: center;
    }

	.contactus .btn-fdbck {
		font-size: 16px;
		padding: 10px 20px;
	}
}
