/* -------------
   PROMOTION
------------- */ 
.slider-container {
    position: relative;
    z-index: 1; 
    padding: 80px 0 50px 0;
}

.slider {
    width: calc(100vw - 20px); 
    height: calc(100vh - 80px); 
    margin: auto;
    position: relative;
    overflow: hidden; 
}

.slider .list {
    position: absolute;
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list .item {
    width: 100%; 
    flex-shrink: 0;
}

.slider .list img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
    display: block; 
    margin: auto;
}

.slider .buttons,
.slider .dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.slider .buttons {
    top: 50%;
    transform: translateY(-50%);
}

.slider .buttons button{
    width: 50px;
    height: 50px;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
}

.slider .item img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.promoCon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
}

.slider .list .item {
    position: relative;
}

.slider .list .item .promoCon {
    opacity: 0;
}

.slider .list .item.active .promoCon {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* -------------
   BREAKPOINTS
------------- */ 
@media screen and (max-width: 1750px){
    .slider{
        height: 820px;
    }
}

@media screen and (max-width: 1600px){
    .slider{
        height: 800px;
    }
}

@media screen and (max-width: 1500px){
    .slider{
        height: 760px;
    }
}

@media screen and (max-width: 1400px){
    .slider{
        height: 710px;
    }
}

@media screen and (max-width: 1300px){
    .slider{
        height: 660px;
    }
}

@media screen and (max-width: 1200px){
    .slider{
        height: 610px;
    }
}

@media screen and (max-width: 1100px){
    .slider{
        height: 560px;
    }
}

@media screen and (max-width: 1000px){
    .slider{
        height: 510px;
    }
}

@media screen and (max-width: 900px){
    .slider{
        height: 400px;
    }

    .item img {
        content: url('Images/bg1.jpg');
    }
}




.promoCon1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.promoCon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main {
    font-size: 48px; 
    color: white; 
    text-align: center;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

[data-caption-animate="fadeInUp"] {
    animation-name: fadeInUp;
    animation-duration: 3s; 
    animation-fill-mode: both;
    animation-delay: var(--animation-delay, 0s); 
}



/* -------------
 SULIT SECTIONS
------------- */ 
.sulitPc, .sulitPrinter {
    background: var(--black2);
}

.sulitLaptop {
    background: var(--black1);
}

.text-center h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding-top: 50px;
    color: var(--white3);
}

.sulitPcContents, .sulitLaptopContents, .sulitPrinterContents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    text-align: center;
    padding-bottom: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.row {
    position: relative;
    cursor: pointer;
    border-radius: 12px;
}

.row img {
    width: 80%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 12px;
    transition: transform 0.5s;
}

.row h4 {
    font-family: 'ManifoldCF', sans-serif;
    font-size: 18px;
    color: var(--white3);
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    
}

.row h5 {
    font-family: 'ManifoldCF', sans-serif;
    color: var(--white1);
    font-size: 28px;
    font-weight: 400;
    transition: all .50s ease;
}

.row h6 {
    font-family: 'ManifoldCF', sans-serif;
    color: var(--white1);
    font-size: 28px;
    font-weight: 400;
    transition: all .50s ease;
}

.row h6:hover {
    color: var(--mgwrpcMain2);
    cursor: pointer;
    scale: 1.09;
}

.top {
    position: absolute;
    top: 10px;
    left: 0;
    height: 38px;
    width: 15%;
    color: #8D1C30;
    background: var(--mgwrpcMain2);
    font-size: 15px;
    font-weight: 800;
    margin-left: 40px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.row:hover .top {
    scale: 1.2;
}

.row .sulitbtn a {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    padding: 13px;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white1);
    margin-bottom: 67px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 55px;
    margin-right: 55px;
    transition: opacity 0.5s, color 0.3s;
    opacity: 0;
}

.row:hover .sulitbtn a {
    opacity: 1;
}

.sulitbtn:hover a {
    color: var(--mgwrpcMain2);
}

