/* -------------
     IMPORTS
-------------- */
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Manifold+CF&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

/* -------------
    SHORTCUTS
-------------- */
:root {
    --mgwrpcMain1: #8C52FF; 
    --mgwrpcMain2: #FF914D;
    --black1: #000;
    --black2: #151515;
    --black3: #303030;
    --gray1: #222;
    --gray2: #333;
    --gray3: #444;
    --white1: #ffffff;
    --white2: #F2EFEB;
    --white3: #dddddd;
    --paracolor: #5e6c79;
}



/* -------------
     RESETS
-------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--black1);
    backdrop-filter: blur(18px); 
    background-size: cover;
    background-position: center;
}



/* -------------
     NAVBAR
-------------- */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(10px); 
    z-index: -1;
}

.logo {
    width: 240px;
    height: auto;
    transition: 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.06);
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--mgwrpcMain1);
    transition: color 0.3s ease, background-color 0.3s ease; 
    transform: scale(1.06px);
}

.navbar .active {
    color: var(--mgwrpcMain1);
    position: relative;
}

.navbar .active::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--mgwrpcMain1);
    z-index: -1; 
}

/* -------------
   BREAKPOINTS
-------------- */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 886px) {
    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
         display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(15px); 
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .navbar .active::after {
        display: none;
    }
}



/* -------------
     FOOTER
-------------- */
footer {
    padding: 80px 13% 80px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 16px;
}

.icons2 a img {
    width: 30px;
    height: 30px;
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
}
    
.icons2 a:hover img {
    opacity: 1; 
    animation: zoomOut 0.5s ease-in-out forwards; 
}

.icons2 a img:not(:hover) {
    animation: zoomIn 0.5s ease-in-out forwards;
    transition: opacity 0.3s ease-in-out; 
}

@keyframes zoomOut {
    0% {
        opacity: 0; 
    }
    100% {
        transform: scale(1.2);
        opacity: 1; 
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1.2);
        opacity: 1; 
    }
    100% {
        opacity: 1; 
    }
}

.icons2 a:nth-child(1):hover img {
    content: url('/Images/fbicon2.png');
    opacity: 1;
}

.icons2 a:nth-child(2):hover img {
    content: url('/Images/igicon2.png');
    opacity: 1;
}

.icons2 a:nth-child(3):hover img {
    content: url('/Images/tticon2.png');
    opacity: 1;
}

.icons2 a:nth-child(4):hover img {
    content: url('/Images/gmicon2.png');
    opacity: 1;
}

.icons img {
    width: 30px; 
    height: auto;
}

.footer-content li a {
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.40s ease;

}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: var(--mgwrpcMain1);
}

.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    margin: 20px 0;
}

.logo2 {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Ethnocentric', sans-serif;
    color: #ffffff;
}

.icons2 a {
    display: inline-block;
    font-size: 28px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all 0.40s ease;
}

.icons2 a:hover {
    animation: bounce 1.8s infinite ease-in-out;
    transform-origin: center bottom;
}

@keyframes bounce {
    0%, 100% {
        transform: translateZ(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* -------------
   BREAKPOINTS
-------------- */
@media(max-width: 1690px){
    footer {
        padding: 50px 5% 40px;
    }
}

@media(max-width: 1120px){
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }

    .icons2 a {
        margin-bottom: 50px;
    }
}

@media(max-width: 700px){
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
}



/* -------------
   COPYRIGHTS 
-------------- */
.copyrights {
    text-align: center;
    background-color: #ececec;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px 0;
}

.copyrights p {
    font-size: 14px;
    padding: 1px 0 1px 0;
    text-align: center;
}

.copyrights p span {
    background-color: var(--mgwrpcMain1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

/* -------------
   BREAKPOINTS
-------------- */
@media(max-width: 767px){
    .copyrights p {
        font-size: 16px;
        padding: 8px 0 8px 0;
    }
}
@media(max-width: 574px){
    .copyrights p {
        font-size: 14px;
        padding: 8px 0 8px 0;
    }
}



/* -------------
   SCROLL UP
-------------- */
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
}

.scroll-to-top button {
    background-color: var(--black1);
    color: var(--white1);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-to-top button:hover {
    background-color: var(--black3);
}
