/* -------------
    SHORTCUTS
-------------- */
:root {
    --mgwrpcMain1: #8C52FF; 
    --mgwrpcMain2: #FF914D;
    --black1: #000;
    --black2: #151515;
    --black3: #303030;
    --gray1: #222;
    --gray2: #333;
    --gray3: #444;
    --white1: #ffffff;
    --white2: #F2EFEB;
    --white3: #dddddd; 
    --paracolor: #5e6c79;
}


 
/* -------------
    PRICELIST
-------------- */
.heading {
	padding-top: 110px;
    font-size: 3em;
    color: var(--white1);
	text-align: center;
	max-width: 700px;
	margin: auto auto 20px;
    margin-top: -100px;
	margin-bottom: 10px;
    cursor: default;
}

.sentence1 {
	text-align: center;
    color: var(--paracolor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
	max-width: 700px;
	margin: auto auto 20px;
    cursor: default;
}

.wrapper {
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card {
    min-height: 220px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--black2);
    margin: 10px 10px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

.card i {
    margin: 20px;
    color: var(--paracolor);
}

.card h2 {
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--white1);
    z-index: 2;
    transition: all 0.3s;
    cursor: default;
}

.card p {
    color: var(--paracolor);
    text-align: center;
    width: 600px;
    transition: all 0.3s;
    cursor: default;
}

.card:hover h2,
.card:hover p,
.card:hover i {
    color: var(--white1);
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4) {
    position: relative;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.card:nth-child(1):hover,
.card:nth-child(2):hover,
.card:nth-child(3):hover,
.card:nth-child(4):hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px var(--white1);
}

.btn {
    display: inline-flex; 
    align-items: center; 
    margin-top: 20px;
    background-color: var(--black3); 
    color: var(--white1);
    padding: 10px 20px; 
    border: none;
    border-radius: 10px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    z-index: 2;
}

.card:nth-child(1):hover .btn {
    background-color: var(--black2); 
    border: solid 1px var(--white1);
}

.card:nth-child(2):hover .btn {
    background-color: var(--black2); 
    border: solid 1px var(--white1);
}

.card:nth-child(3):hover .btn {
    background-color: var(--black2); 
    border: solid 1px var(--white1);
}
.card:nth-child(4):hover .btn {
    background-color: var(--black2); 
    border: solid 1px var(--white1);
}

/* -------------
   BREAKPOINTS
-------------- */
@media screen and (max-width: 1250px) {
    .content-box {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .card {
        text-align: center;
        width: 1200px;
		margin: 10px 10px 0px 10px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        text-align: center;
        width: 99%;
    }

	.card p {
		width: 350px;
	}
}
